@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    @apply font-noto;
  }

  .text-balance {
    text-wrap: balance;
  }

  .border-1 {
    @apply border border-solid
  }

  .btn-transparent {
    @apply border-1 bg-transparent block after:rounded-lg !overflow-hidden rounded-lg relative after:absolute after:content-[''] after:inset-0 after:-left-full after:w-full hover:after:left-0 after:duration-300 after:ease-linear z-[1] after:z-0 duration-500;

    span {
      position: relative;
      z-index: 1;
    }
  }

  .btn-primary {
    @apply bg-primary block text-secondary after:rounded-lg !overflow-hidden rounded-lg relative after:absolute after:content-[''] after:inset-0 after:-left-full after:w-full hover:after:left-0 after:duration-300 after:ease-linear after:bg-black hover:text-white z-[1] after:z-0 duration-500;

    span {
      position: relative;
      z-index: 1;
    }
  }

  .heading-ext {
    position: relative;

    &::before {
      @apply bg-primary content-[''] absolute top-full inset-x-0;
      height: 2px;
    }

    &::after {
      @apply bg-white content-[''] absolute top-full;
      right: 14%;
      width: 8px;
      height: 2px;
    }
  }

  .heading-title {
    @apply  text-3xl font-semibold inline-block pb-3 ;
    position: relative;

    &::before {
      @apply bg-primary content-[''] absolute top-full inset-x-0;
      height: 4px;
    }

    &::after {
      @apply bg-white content-[''] absolute top-full;
      right: 14%;
      width: 8px;
      height: 4px;
    }
  }

  .section-break {
    padding: 50px 0;
  }

  header {
    .nav-links {
      .active {
        &::before {
          @apply bg-primary content-[''] absolute top-full inset-x-0;
          height: 2px;
        }

        &::after {
          @apply bg-white content-[''] absolute top-full;
          right: 14%;
          width: 8px;
          height: 2px;
        }
      }
    }
  }

  .hero-section {
    position: relative;
    z-index: 0;

    &::before {
      content: '';
      inset: 0;
      position: absolute;
      z-index: -1;
      background: url('./../public/assets/images/pattern.svg');
      background-repeat: repeat;
      opacity: 0.5;
    }
  }

  .can-do-content {
    .swiper-slide {
      height: 100%;
    }
  }

  .can-do-text {
    >*:not(:last-child) {
      margin-bottom: 30px;
    }

    li {
      padding-left: 30px;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        top: 4px;
        left: 0;
        height: 25px;
        width: 25px;
        background: url('../public/assets/images/tick.svg') no-repeat;
        background-size: contain;
        left: 0;
      }
    }
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1400px;
  }
}
.swiper-slide {
  height: auto !important;
}
.laptop {
  position: relative;
  margin: auto;
  max-width: 80rem;

  .laptop__screen {
    position: relative;
    z-index: 1;
    padding: 3%;
    border-radius: 2rem;
    background: #ecf1f7;
    background-image: linear-gradient(to bottom, #333, #111);
    box-shadow: 0 .1rem 0 #cfcfcf;
    border: 2px solid #ccc;

    img {
      display: block;
      max-width: 100%;
      height: auto;
      aspect-ratio: attr(width) / attr(height);
      background: #000;
    }
  }

  .laptop__bottom {
    position: relative;
    z-index: 1;
    margin-right: -7%;
    margin-left: -7%;
    height: .7rem;
    background: #e9eff5;
    background-image: linear-gradient(to right, #d2dde9 0%, #f9fcff 15%, #e5ebf2 40%, #e5ebf2 60%, #f9fcff 85%, #d2dde9 100%);

    &::before {
      display: block;
      margin: 0 auto;
      width: 20%;
      height: .7rem;
      border-radius: 0 0 .2rem .2rem;
      background: #f6f9fc;
      background-image: linear-gradient(to right, #c3cfdb 0%, #f6f9fc 10%, #f6f9fc 90%, #c3cfdb 100%);
      content: " ";
    }
  }

  .laptop__under {
    position: absolute;
    top: 100%;
    left: 25%;
    display: block;
    width: 50%;
    height: 1.5rem;
    background: #e2e8f0;
    background-image: linear-gradient(to bottom, #e2e8f0, #bec7d1);

    &::after,
    &::before {
      position: absolute;
      top: 0%;
      right: 100%;
      bottom: 0;
      display: block;
      width: 50%;
      border-bottom-left-radius: 100%;
      background: inherit;
      content: " ";
    }

    &::after {
      right: auto;
      left: 100%;
      border-bottom-right-radius: 100%;
      border-bottom-left-radius: 0;
    }
  }

  .laptop__shadow {
    position: absolute;
    right: -10%;
    bottom: -2.5rem;
    left: -10%;
    z-index: 0;
    height: 2rem;
    background: radial-gradient(ellipse closest-side, #000, transparent);
    opacity: 0.5;
  }
}

.brand-marquee {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    width: 200px;
    height: 100%;
    content: "";
    z-index: 1;
  }

  &::before {
    left: 0;
    background: linear-gradient(to right, white 5%, transparent 100%);
  }

  &::after {
    right: 0;
    background: linear-gradient(to left, white 5%, transparent 100%);
  }
}

.marquee-wrapper {
  animation: marquee 10s linear infinite forwards;
  align-items: center;
  display: flex;
  width: 100%;
  gap: 80px;
  flex-direction: row;
  margin-bottom: 30px;


  &:hover {
    animation-play-state: paused;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(-40%);
  }
}

figure {
  img {
    height: 100%;
    width: 100%;
    object-position: center;
  }
}